@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* globals.css - hide native cursor everywhere (use carefully) */
html,
body,
#__next,
.app-root {
  cursor: none !important;
}

/* also force for every element and common pseudo-states */
*,
*:hover,
*:active,
*:focus,
*::before,
*::after {
  cursor: none !important;
}

@font-face {
  font-family: "Zodiak";
  src: url("/fonts/zodiak/Zodiak-Variable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zodiak";
  src: url("/fonts/zodiak/Zodiak-VariableItalic.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet";
  src: url("/fonts/cabinet/CabinetGrotesk-Variable.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-zodiak: "Zodiak", sans-serif;
  --font-cabinet: "Cabinet", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  cursor: none !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "cabinet", sans-serif;
  font-weight: 500;
  /*cursor: none !important;*/
}

.fancy-btn {
}

#id {
  backdrop-filter: blur(66, 0);
}

@layer utilities {
  .hover-underline {
    @apply relative inline-block;
  }

  .hover-underline::after {
    content: "";
    @apply absolute left-0 bottom-0 h-[1px] w-0 bg-black transition-all duration-300;
  }

  .hover-underline:hover::after {
    @apply w-full;
  }

  .progressive-blur {
    mask-image: linear-gradient(
      to bottom,
      transparent,
      rgba(255, 255, 255, 0.4) 10%,
      rgba(255, 255, 255, 0.6) 20%,
      rgba(255, 255, 255, 0.8) 30%,
      rgba(255, 255, 255, 0.9) 40%,
      rgba(255, 255, 255, 0.95) 50%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 1) 70%,
      rgba(255, 255, 255, 1) 80%,
      rgba(255, 255, 255, 1) 90%,
      rgba(255, 255, 255, 1) 100%
    );
    backdrop-filter: blur(200px); /* Ensure no conflicting backdrop blur */
  }

  .pixelated {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    image-rendering: pixelated; /* Forces blocky pixels */
    transform: scale(0.2); /* Shrinks it */
    transform-origin: top left;
    width: 500%; /* Blow it back up */
    height: 500%;
    opacity: 0.6; /* So base shows below */
  }
}
