@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Zodiak";
  src: url("/fonts/zodiak/Zodiak-Variable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zodiak";
  src: url("/fonts/zodiak/Zodiak-VariableItalic.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet";
  src: url("/fonts/cabinet/CabinetGrotesk-Variable.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-zodiak: "Zodiak", sans-serif;
  --font-cabinet: "Cabinet", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  cursor: none !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "cabinet", sans-serif;
  font-weight: 500;
  /*cursor: none !important;*/
}

.fancy-btn {
}

#id {
  backdrop-filter: blur(66, 0);
}

@layer utilities {
  .hover-underline {
    @apply relative inline-block;
  }

  .hover-underline::after {
    content: "";
    @apply absolute left-0 bottom-0 h-[1px] w-0 bg-black transition-all duration-300;
  }

  .hover-underline:hover::after {
    @apply w-full;
  }
}
